/* --- HERO SECTION --- */
.hero {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url("/img/Disegno Grafico.jfif") center left/cover no-repeat;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    padding: 32px 96px;
    color: #fff;
}

.hero h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
}

.hero p {
    max-width: 600px;
    font-size: 16px;
    color: #eee;
    margin-bottom: 32px;
}

.hero a {
    background: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 13px 32px;
    border-radius: 30px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.hero a:hover {
    color: yellow;
    background: #000000;
    transform: scale(1.05);
    box-shadow: 0 0 50px yellow;
}